<fieldset>
  <legend>{{title}}</legend>
  <!-- TITLE -->
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" />
  </p>
  <p>
    <label for="youtubeURL">Youtube Tutorial Link</label><br>
    <input type="text" name="youtubeUrl" />
  </p>
  <p>
    <label for="tabUrl">Tab Link</label><br>
    <input type="text" name="tabUrl" />
  </p>
</fieldset>
