<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitar Geek</title>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Monoton|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <script src="https://cdn.rawgit.com/citronneur/onlinetuner.co/master/js/onlinetuner.min.js"></script>
    <!-- <script type="module" src="/scripts/tuner.js"></script> -->
    <!-- <script type="module" src="/scripts/tuner-canvas.js"></script> -->

  </head>
  <body>

    {{>navbar}}
    {{{body}}}


  </body>
</html>
