<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitar Geek</title>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Monoton|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <script type="module" src="/scripts/pitch.js"></script>

  </head>
  <body>

    {{>navbar}}
    {{{body}}}

  </body>
</html>
