<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Guitar Geek</title>

    <link href="https://fonts.googleapis.com/css?family=Bangers|Monoton|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles/stylesheet.css" />

    <!-- Importing P5 CDN -->

    <!-- <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script> -->


    <!-- Importing Tuner CDN -->
    <script src="https://cdn.rawgit.com/citronneur/onlinetuner.co/master/js/onlinetuner.min.js"></script>



    <script src="/scripts/simple-graph.js"></script>
    <!-- <script type="module" src="/scripts/tuner.js"></script> -->
    <!-- <script type="module" src="/scripts/tuner-canvas.js"></script> -->

  </head>
  <body>

    {{>navbar}}
    {{{body}}}


  </body>
</html>
