<div class="homepage">
  <div class="welcome-window">
    <h1>Guitar Geek</h1>
    <div class="welcome-options">
      <a href="/tools"><h3>All Tools</h3></a>
      <a href="/tuner"><h3>Tuner</h3></a>
      <a href="#"><h3>Visualizer</h3></a>
      <a href="#"><h3>Sheet Music</h3></a>
    </div>
  </div>
</div>
