<!-- Some elements mimicked from Ivreynoso  -->

<div id="pitch">
</div>

<div id="clarity">
</div>

<!-- <div class="note"><span id="note">--</span><sub id="octave">--</sub></div>
<div class="note"><span id="target">--</span><sub id="targetOctave">--</sub></div> -->
