<div class="tool-page">
  <div class="tool-title">
    <h1>All Tools</h1>
  </div>

  <div class="tool-window">
    
  </div>
</div>



<div class="tool-page">
  <a href="/tuner"><h3>Tuner</h3></a>
  <a href="#"><h3>Visualizer</h3></a>
  <a href="#"><h3>Sheet Music</h3></a>
</div>
