<div class="tool-page">
  <div class="tool-title">
    <h1 class="tool-yellow">All Tools</h1>
  </div>

  <div class="tool-window">

      <a href="/tuner">
        <div class="option-tuner option">
          <div class="option-tuner-image">
            <img src="http://localhost:3000/assets/guitar-tune.jpg" height="100px" width="100px"/>
          </div>
          <div class="option-tuner-text">
            <h3>Tuner</h3>
            <p>Guitar Tuning Made Easy. This is how the product workds.
            You will love this product!</p>
          </div>
        </div>
      </a>

      <a href="/visualizer">
        <div class="option-visualizer option">
          <div class="option-visualizer-image">
            <img src="http://localhost:3000/assets/abstract.jpg" height="100px" width="100px"/>
          </div>
          <div class="option-visualizer-text">
            <h3>Visualizer</h3>
            <p>Visualize your own music. Play at a party or at home and
            make colors appear.</p>
          </div>
        </div>
      </a>


      <a href="/sheet">
        <div class="option-sheet option">
          <div class="option-sheet-image">
            <img src="http://localhost:3000/assets/sheet-music.jpg" height="100px" width="100px"/>
          </div>
          <div class="option-sheet-text">
            <h3>Sheet Music</h3>
            <p>Easily convert your own music into sheet music - automatically!
            Just turn on your external mic and click "Play"</p>
          </div>
        </div>
      </a>


  </div>

</div>



<!-- <div class="tool-page">
  <a href="/tuner"><h3>Tuner</h3></a>
  <a href="#"><h3>Visualizer</h3></a>
  <a href="#"><h3>Sheet Music</h3></a>
</div> -->
