<div class="tuner-page">
  <div class="tune-title">
    <h1 class="tuner-blue">Tuner</h1>
  </div>
  <div class="tuner-window">
    <div class="tuner-current-reading">
      <h3>Current Reading</h3>
    </div>
    <div class="tuner-chord-display">
        <span id="flat">Eb</span>
        <span id="current">E</span>
        <span id="sharp">E#</span>
    </div>
  </div>
</div>

<!-- <div id="pitch">
</div>

<div id="clarity">
</div> -->
