<script src="/scripts/visualizer-sample.js"></script>

<div class="visualizer-page">
  <div class="visualizer-title">
    <h1 class="visualizer-green">Visualizer</h1>
  </div>
  <!-- <canvas id="visualizer-canvas" width="600" height="400">
    <div id="audio-image">
    </div>
    <div id="visualizer-image">
    </div>
  </canvas> -->
</div>
