<div class="visualizer-page">
  <div class="visualizer-title">
    <h1 class="visualizer-green">Visualizer</h1>
  </div>
  <div class="visualizer-options-window">
    <a href="/visualizer-sample">
      <div class="visualizer-option">
        <h3>Sample Track</h3>
      </div>
    </a>
    <a href="/visualizer-record">
      <div class="visualizer-option">
        <h3>Record Sample</h3>
      </div>
    </a>
    <a href="/visualizer-open">
      <div class="visualizer-option">
        <h3>Open Ended</h3>
      </div>
    </a>
  </div>
</div>
