<div class="visualizer-page">
  <div class="visualizer-title">
    <h1 class="visualizer-green">Visualizer</h1>
  </div>
  <div class="visualizer-display">
    <div class="visualizer-current-chord">
      <h3>E</h3>
    </div>
    <div class="visualizer-image">

    </div>
  </div>
</div>
