body {
  margin: 0;
  margin-top: 0;
}

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: #40403d;
}

/* Begin Navbar Section */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171818;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: var(--main-grey);
}

.navbar .active {
  background-color: #4CAF50;
}
/* End Navbar Section */
